.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 340px;
    height: 100px;
}
.card_parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}